Afloeser/Web References/PDataGetName_liveCycleService/PData_GetNameFromCpr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://adobe.com/idp/services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://adobe.com/idp/services" targetNamespace="http://adobe.com/idp/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://adobe.com/idp/services">
      <xsd:element name="invoke">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="cpr" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="invokeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="navn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MyArrayOf_xsd_anyType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FormInstanceBase">
        <xsd:sequence>
          <xsd:element name="XFAData" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="actionList" nillable="true" type="impl:MyArrayOf_xsd_anyType" />
          <xsd:element name="hardenedTemplatePath" nillable="true" type="xsd:string" />
          <xsd:element name="selectedAction" nillable="true" type="xsd:string" />
          <xsd:element name="templatePath" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FormDataTypeInstance">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:FormInstanceBase">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SetValueMapping">
        <xsd:sequence>
          <xsd:element name="locationExpr" nillable="true" type="xsd:string" />
          <xsd:element name="valueExpr" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PurgeFilter">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:simpleType name="ConditionEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="EQUALS" />
          <xsd:enumeration value="GREATER_THAN" />
          <xsd:enumeration value="LESS_THAN" />
          <xsd:enumeration value="NOT_EQUALS" />
          <xsd:enumeration value="LIKE" />
          <xsd:enumeration value="GREATER_THAN_EQUALS" />
          <xsd:enumeration value="LESS_THAN_EQUALS" />
          <xsd:enumeration value="BEGINS_WITH" />
          <xsd:enumeration value="ENDS_WITH" />
          <xsd:enumeration value="CONTAINS" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ConditionFilter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:PurgeFilter">
            <xsd:sequence>
              <xsd:element name="condition" nillable="true" type="impl:ConditionEnum" />
              <xsd:element name="value" nillable="true" type="xsd:string" />
              <xsd:element name="variable" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="OrFilter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:PurgeFilter">
            <xsd:sequence>
              <xsd:element name="leftFilter" nillable="true" type="impl:PurgeFilter" />
              <xsd:element name="rightFilter" nillable="true" type="impl:PurgeFilter" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AndFilter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:PurgeFilter">
            <xsd:sequence>
              <xsd:element name="leftFilter" nillable="true" type="impl:PurgeFilter" />
              <xsd:element name="rightFilter" nillable="true" type="impl:PurgeFilter" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="invokeRequest">
    <wsdl:part name="parameters" element="impl:invoke" />
  </wsdl:message>
  <wsdl:message name="invokeResponse">
    <wsdl:part name="parameters" element="impl:invokeResponse" />
  </wsdl:message>
  <wsdl:portType name="PDataOnline_PData_GetNameFromCpr">
    <wsdl:operation name="invoke">
      <wsdl:input name="invokeRequest" message="impl:invokeRequest" />
      <wsdl:output name="invokeResponse" message="impl:invokeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PData_GetNameFromCprSoapBinding" type="impl:PDataOnline_PData_GetNameFromCpr">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invoke">
      <wsdlsoap:operation soapAction="invoke..9.0.0" />
      <wsdl:input name="invokeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PDataOnline_PData_GetNameFromCprService">
    <wsdl:port name="PData_GetNameFromCpr" binding="impl:PData_GetNameFromCprSoapBinding">
      <wsdlsoap:address location="http://svlpm2:8080/soap/services/PDataOnline/PData_GetNameFromCpr" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>